Link{
    text-decoration: none;
}

.cartview-container img{
    width: 10%;
}
.cartview-container h2{
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    text-align: center;
}
.cartview-container h3{
    font-family: 'Fjalla One', sans-serif;
}

.cartview-container span{
    font-family: 'Exo 2', sans-serif;
    font-size: 4vh;
}

.cartview-container button{
    font-family: 'Staatliches', cursive;
}