.portada h1{
    font-size: 1.5rem;
    color: #1CAF0B;
}
.portada p{
    font-size: 1.2rem;
    font-weight: 900;
    color: #7CC973;
}

.portada img{
    height: 40vh;
    width: 80%;
}

.portada{
    border-bottom: 2px solid gray;
    padding-bottom: 5rem;
}

.card-all-container{
    border-bottom: 2px solid gray;
}

.mp img{
    width: 30vh;
    height: 25vh;
}

.bitcoin img{
    width: 10vh;
    height: 10vh;
}

.visa img{
    width: 15vh;
    height: 15vh;
}

.master img{
    width: 10vh;
    height: 10vh;
}

.medios-pago-container{
    background-color: honeydew;
    margin: 0;
}

.footer-container{
    background-color: black;
    padding: 4rem;
}

.footer-container img{
    width: 5%;
}
.footer-container p {
    margin: 0;
}