.card-img img{
    width: 15vh;
    height: 15vh;
}

.card-container{
    border: 2px solid white;
    border-radius: 0.8rem;
    width:50vh;
    padding: 2rem;
    background-color: #A847F5  ;
}

.card-container h2{
    font-family: 'Pushster', cursive;

}

.card-container span{
    font-family: 'Oswald', sans-serif;
}

.card-container h3{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}
.card-container button{
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
}

.card-container{
    border-bottom: 2px solid green;
}
